.App {
    text-align: center;
    margin-top: 75px;
}

img{
    min-width: 300px;
    min-height: 300px;
    max-width: 450px;
    max-height: 550px;
}
.Grid{
    border: 2px;
    border-style: solid;
}